---
layout: default
---

<center>
<TABLE WIDTH=601 CELLPADDING=7 CELLSPACING=0>
	<COL WIDTH=135>
	<COL WIDTH=136>
	<COL WIDTH=136>
	<COL WIDTH=135>
	<TR VALIGN=TOP>
		<TD WIDTH=135 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>Hotel</P>
		</TD>
		<TD WIDTH=136 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>Address</P>
		</TD>
		<TD WIDTH=136 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>Approximate 
			</P>
		</TD>
		<TD WIDTH=135 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>Contact</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=135 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P STYLE="margin-bottom: 0in">Delhi Parsi Anjuman</P>
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=136 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>Bhadur Shah Zafar Marg, opposite Firozeshah Kotla stadium, near
			MAMC</P>
		</TD>
		<TD WIDTH=136 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>Around RS 1500</P>
		</TD>
		<TD WIDTH=135 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P STYLE="margin-bottom: 0in">Mr Fred  Irani</P>
			<P STYLE="margin-bottom: 0in">9773965100</P>
			<P>011-23238615</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=135 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>Centrally located entire modern apartment 
			</P>
		</TD>
		<TD WIDTH=136 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>B-32-33,Near Ferozshah Kotla Fort, Vikram Nagar, Near MAMC</P>
		</TD>
		<TD WIDTH=136 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>Rs 2161-2814</P>
		</TD>
		<TD WIDTH=135 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P STYLE="margin-bottom: 0in"> Mr Sanjay</P>
			<P>09650933556</P>
		</TD>
	</TR>
	<TR>
		<TD COLSPAN=4 WIDTH=585 VALIGN=TOP STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><B>DARYAGANJ</B></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=135 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>Hotel Broadway(3 star hotel)</P>
		</TD>
		<TD WIDTH=136 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>4/15 A, Aruna Asaf Ali road, near Delite cinema</P>
		</TD>
		<TD WIDTH=136 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>Rs2100-2500</P>
		</TD>
		<TD WIDTH=135 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>01143663600</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=135 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>Hotel Atithi palace( 3 star hotel)</P>
		</TD>
		<TD WIDTH=136 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>50,Dr Subhash Bhargava Marg, Daryaganj</P>
		</TD>
		<TD WIDTH=136 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>Around Rs 2000</P>
		</TD>
		<TD WIDTH=135 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>01123245546</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=135 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>Go Stop Delhi(2 star hotel)</P>
		</TD>
		<TD WIDTH=136 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>4/23,Asaf Ali Road,opp Metro station No 3, Delhi gate</P>
		</TD>
		<TD WIDTH=136 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>Around Rs 1000</P>
		</TD>
		<TD WIDTH=135 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P STYLE="margin-bottom: 0in">Ph: +911141056227</P>
			<P>Ph: +917428882828</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=135 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><A NAME="_GoBack"></A>Hotel Arina Inn</P>
		</TD>
		<TD WIDTH=136 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>38, Netaji Subhas Marg</P>
		</TD>
		<TD WIDTH=136 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>Rs 1500</P>
		</TD>
		<TD WIDTH=135 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>07065067403</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=135 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>OYO 15514 Wall street</P>
		</TD>
		<TD WIDTH=136 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>3665, Netaji Subhas Marg</P>
		</TD>
		<TD WIDTH=136 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>Rs 1000</P>
		</TD>
		<TD WIDTH=135 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>07065067403</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=135 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>MGM club society</P>
		</TD>
		<TD WIDTH=136 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>19, Ansari road</P>
		</TD>
		<TD WIDTH=136 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>Rs 2079</P>
		</TD>
		<TD WIDTH=135 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>09999756827</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=135 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>Roost casa</P>
		</TD>
		<TD WIDTH=136 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>71, Daryaganj(behind police station)</P>
		</TD>
		<TD WIDTH=136 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>Rs 3700+ taxes</P>
		</TD>
		<TD WIDTH=135 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><BR>
			</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=135 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>BR guest house in Daryaganj</P>
		</TD>
		<TD WIDTH=136 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>J-1/16, daryaganj</P>
		</TD>
		<TD WIDTH=136 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>Rs 3500+taxes</P>
		</TD>
		<TD WIDTH=135 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><BR>
			</P>
		</TD>
	</TR>
	<TR>
		<TD COLSPAN=4 WIDTH=585 VALIGN=TOP STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><B>CONNAUGHT PLACE</B></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=135 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P STYLE="margin-bottom: 0in">Hotel Alka</P>
			<P STYLE="margin-bottom: 0in">Classic(3 star hotel)</P>
			<P STYLE="margin-bottom: 0in"> 
			</P>
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=136 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P STYLE="margin-bottom: 0in">P-16 Connaught Circus, Connaught
			Place, 110001 New Delhi, India</P>
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=136 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P STYLE="margin-bottom: 0in">Rs.3000 /</P>
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=135 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>Phone: 095826 95890</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=135 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P STYLE="margin-bottom: 0in">Prem Sagar</P>
			<P>Guest House</P>
		</TD>
		<TD WIDTH=136 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>P-11 First Floor Connaught Circus, Connaught Place, 110001 New
			Delhi, India</P>
		</TD>
		<TD WIDTH=136 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>Rs 2500 /</P>
		</TD>
		<TD WIDTH=135 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>Phone: 011 2334 5263</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=135 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P STYLE="margin-bottom: 0in">FabHotel The Daffodils</P>
			<P>(3 star hotel)</P>
		</TD>
		<TD WIDTH=136 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>M 20, Connaught Cir,Opp Fire station, Block M</P>
		</TD>
		<TD WIDTH=136 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>Rs 2210</P>
		</TD>
		<TD WIDTH=135 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>07042424242</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=135 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P STYLE="margin-bottom: 0in">Hotel Jukaso Down Town</P>
			<P>(3 star hotel)</P>
		</TD>
		<TD WIDTH=136 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>L1-block, middle circle, near metro station gate no 3&amp; 4,
			c0nnaught circus</P>
		</TD>
		<TD WIDTH=136 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>Rs 2340</P>
		</TD>
		<TD WIDTH=135 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>01123415450</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=135 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=136 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=136 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=135 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><BR>
			</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=135 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>The Corus hotel</P>
		</TD>
		<TD WIDTH=136 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>B-49, Rajiv chowk, block B, Connaught place</P>
		</TD>
		<TD WIDTH=136 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>Rs 3300</P>
		</TD>
		<TD WIDTH=135 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>01143652222</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=135 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>Narula Inn</P>
		</TD>
		<TD WIDTH=136 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>1/90, P block,Doulat Ram House,opp.PVR Rivoli</P>
		</TD>
		<TD WIDTH=136 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>Rs 3600</P>
		</TD>
		<TD WIDTH=135 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>01123367035</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=135 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P STYLE="margin-bottom: 0in">YWCA International guest house</P>
			<P>(2 star hotel)</P>
		</TD>
		<TD WIDTH=136 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>10,sansad marg, Connaught Place, New Delhi</P>
		</TD>
		<TD WIDTH=136 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>Rs 2600-3100</P>
		</TD>
		<TD WIDTH=135 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>01123361561</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=135 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>Connaught mews(3 star hotel)</P>
		</TD>
		<TD WIDTH=136 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>41B,Hanuman road,near Hanuman Mandir,Connaught Place</P>
		</TD>
		<TD WIDTH=136 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>Rs 2951+ taxes</P>
		</TD>
		<TD WIDTH=135 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>01143051836</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=135 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>Rams Inn</P>
		</TD>
		<TD WIDTH=136 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>7 jain mandir lane, opposite Hanuman Mandir</P>
		</TD>
		<TD WIDTH=136 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>Rs 3000</P>
		</TD>
		<TD WIDTH=135 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>09582000438</P>
		</TD>
	</TR>
</TABLE>
</center>
