---
layout: default
---
<BODY LANG="en-IN" DIR="LTR">
<P ALIGN=CENTER STYLE="margin-bottom: 0.11in"><B>Day 1: 28th Aug (Wednesday)</B><TABLE DIR="LTR" ALIGN=LEFT WIDTH=99% HSPACE=4 CELLPADDING=7 CELLSPACING=0>
	<COL WIDTH=85*>
	<COL WIDTH=85*>
	<COL WIDTH=85*>
	<TR VALIGN=TOP>
		<TD WIDTH=33% STYLE="border: 1.00pt solid #00000a; padding: 0in 0.08in">
			<P ALIGN=CENTER><B>Time</B></P>
		</TD>
		<TD WIDTH=33% STYLE="border: 1.00pt solid #00000a; padding: 0in 0.08in">
			<P ALIGN=CENTER><B>Schedule</B></P>
		</TD>
		<TD WIDTH=33% STYLE="border: 1.00pt solid #00000a; padding: 0in 0.08in">
			<P ALIGN=CENTER><B>Faculty</B></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=33% STYLE="border: 1.00pt solid #00000a; padding: 0in 0.08in">
			<P><FONT COLOR="#000000">8:00 to 8:40 AM</FONT></P>
		</TD>
		<TD COLSPAN=2 WIDTH=67% STYLE="border: 1.00pt solid #00000a; padding: 0in 0.08in">
			<P ALIGN=CENTER><FONT COLOR="#000000">Registration</FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=33% STYLE="border: 1.00pt solid #00000a; padding: 0in 0.08in">
			<P><FONT COLOR="#000000">8:40 to 9:40 AM</FONT></P>
		</TD>
		<TD WIDTH=33% STYLE="border: 1.00pt solid #00000a; padding: 0in 0.08in">
			<P><FONT COLOR="#000000">Case Discussion: Patient with COPD for
			laparoscopic cholecystectomy</FONT></P>
		</TD>
		<TD WIDTH=33% STYLE="border: 1.00pt solid #00000a; padding: 0in 0.08in">
			<P STYLE="margin-bottom: 0in"><FONT COLOR="#000000">Dr. Kavita
			Sharma</FONT></P>
			<P><FONT COLOR="#000000">Dr. Savita Saini</FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=33% STYLE="border: 1.00pt solid #00000a; padding: 0in 0.08in">
			<P><FONT COLOR="#000000">9:45 to 10:45 AM</FONT></P>
		</TD>
		<TD WIDTH=33% STYLE="border: 1.00pt solid #00000a; padding: 0in 0.08in">
			<P><FONT COLOR="#000000">Acid Base Gas Analysis</FONT></P>
		</TD>
		<TD WIDTH=33% STYLE="border: 1.00pt solid #00000a; padding: 0in 0.08in">
			<P><FONT COLOR="#000000">Dr. Satinder Gombar</FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=33% STYLE="border: 1.00pt solid #00000a; padding: 0in 0.08in">
			<P><FONT COLOR="#000000">10:50 to 11:10 AM</FONT></P>
		</TD>
		<TD WIDTH=33% STYLE="border: 1.00pt solid #00000a; padding: 0in 0.08in">
			<P><FONT COLOR="#000000">What the Anaesthesiologist should know
			about pace makers and pacing?</FONT></P>
		</TD>
		<TD WIDTH=33% STYLE="border: 1.00pt solid #00000a; padding: 0in 0.08in">
			<P><FONT COLOR="#000000">Dr. Lalit Gupta</FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=33% STYLE="border: 1.00pt solid #00000a; padding: 0in 0.08in">
			<P><FONT COLOR="#000000">11:15 to 11:35 AM</FONT></P>
		</TD>
		<TD COLSPAN=2 WIDTH=67% STYLE="border: 1.00pt solid #00000a; padding: 0in 0.08in">
			<P><FONT COLOR="#000000">Tea</FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=33% STYLE="border: 1.00pt solid #00000a; padding: 0in 0.08in">
			<P><FONT COLOR="#000000">11:35 to 12:35 PM</FONT></P>
		</TD>
		<TD WIDTH=33% STYLE="border: 1.00pt solid #00000a; padding: 0in 0.08in">
			<P><FONT COLOR="#000000">Case discussion: Coronary artery disease
			with stent in situ (PPT CAD, ASRA)</FONT></P>
		</TD>
		<TD WIDTH=33% STYLE="border: 1.00pt solid #00000a; padding: 0in 0.08in">
			<P STYLE="margin-bottom: 0in"><FONT COLOR="#000000">Dr. Anju
			Bhalotra</FONT></P>
			<P><FONT COLOR="#000000">Dr. Naveen Malhotra</FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=33% STYLE="border: 1.00pt solid #00000a; padding: 0in 0.08in">
			<P><FONT COLOR="#000000">12:35 to 2:00 PM</FONT></P>
		</TD>
		<TD COLSPAN=2 WIDTH=67% STYLE="border: 1.00pt solid #00000a; padding: 0in 0.08in">
			<P ALIGN=CENTER><FONT COLOR="#000000">Inauguration and Lunch</FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=33% STYLE="border: 1.00pt solid #00000a; padding: 0in 0.08in">
			<P><FONT COLOR="#000000">2:00 to 2:15 PM</FONT></P>
		</TD>
		<TD WIDTH=33% STYLE="border: 1.00pt solid #00000a; padding: 0in 0.08in">
			<P STYLE="margin-bottom: 0in"><FONT COLOR="#000000">Soft skill on
			communication with relative of a patient with intraop MI/PPT for
			soft skill</FONT></P>
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=33% STYLE="border: 1.00pt solid #00000a; padding: 0in 0.08in">
			<P><FONT COLOR="#000000">Dr. Farah Husain/PG</FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=33% STYLE="border: 1.00pt solid #00000a; padding: 0in 0.08in">
			<P><FONT COLOR="#000000">2:15 to 2:45 PM</FONT></P>
		</TD>
		<TD WIDTH=33% STYLE="border: 1.00pt solid #00000a; padding: 0in 0.08in">
			<P><FONT COLOR="#000000">Basics of radiology for Anaesthesiologist</FONT></P>
		</TD>
		<TD WIDTH=33% STYLE="border: 1.00pt solid #00000a; padding: 0in 0.08in">
			<P><FONT COLOR="#000000">Dr. Anjali Prakash</FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=33% STYLE="border: 1.00pt solid #00000a; padding: 0in 0.08in">
			<P><FONT COLOR="#000000">2:45 to 3:15 PM</FONT></P>
		</TD>
		<TD WIDTH=33% STYLE="border: 1.00pt solid #00000a; padding: 0in 0.08in">
			<P><FONT COLOR="#000000">Interpretation of commonly asked X-Rays
			in exam</FONT></P>
		</TD>
		<TD WIDTH=33% STYLE="border: 1.00pt solid #00000a; padding: 0in 0.08in">
			<P><FONT COLOR="#000000">Dr. Smita Prakash</FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=33% STYLE="border: 1.00pt solid #00000a; padding: 0in 0.08in">
			<P><FONT COLOR="#000000">3:15 to 4:15 PM</FONT></P>
		</TD>
		<TD WIDTH=33% STYLE="border: 1.00pt solid #00000a; padding: 0in 0.08in">
			<P><FONT COLOR="#000000">Machine</FONT></P>
		</TD>
		<TD WIDTH=33% STYLE="border: 1.00pt solid #00000a; padding: 0in 0.08in">
			<P><FONT COLOR="#000000">Dr. U C Verma</FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=33% STYLE="border: 1.00pt solid #00000a; padding: 0in 0.08in">
			<P><FONT COLOR="#000000">4:30 to 6:00 PM</FONT></P>
		</TD>
		<TD WIDTH=33% STYLE="border: 1.00pt solid #00000a; padding: 0in 0.08in">
			<P><FONT COLOR="#000000">Demonstration of circuits, vaporizers</FONT></P>
		</TD>
		<TD WIDTH=33% STYLE="border: 1.00pt solid #00000a; padding: 0in 0.08in">
			<P STYLE="margin-bottom: 0in"><FONT COLOR="#000000">Dr. Suman
			Gupta,</FONT></P>
			<P STYLE="margin-bottom: 0in"><FONT COLOR="#000000">Dr. Kapil
			Chaudhary,</FONT></P>
			<P STYLE="margin-bottom: 0in"><FONT COLOR="#000000">Dr. Lalit
			Gupta,</FONT></P>
			<P STYLE="margin-bottom: 0in"><FONT COLOR="#000000">Dr. Uma
			Hariharan,</FONT></P>
			<P STYLE="margin-bottom: 0in"><FONT COLOR="#000000">Dr. Preeti
			Goyal,</FONT></P>
			<P STYLE="margin-bottom: 0in"><FONT COLOR="#000000">Dr. Sukhyanti
			Kerai,</FONT></P>
			<P STYLE="margin-bottom: 0in"><FONT COLOR="#000000">Dr. Rajni
			Arora,</FONT></P>
			<P STYLE="margin-bottom: 0in"><FONT COLOR="#000000">Dr. Preeti
			Thakur,</FONT></P>
			<P STYLE="margin-bottom: 0in"><FONT COLOR="#000000">Dr. Shoaib,</FONT></P>
			<P STYLE="margin-bottom: 0in"><FONT COLOR="#000000">Dr. Akanksha,</FONT></P>
			<P STYLE="margin-bottom: 0in"><FONT COLOR="#000000">Dr. Kush,</FONT></P>
			<P STYLE="margin-bottom: 0in"><FONT COLOR="#000000">Dr. Mausami,</FONT></P>
			<P STYLE="margin-bottom: 0in"><FONT COLOR="#000000">Dr. Shweta,</FONT></P>
			<P STYLE="margin-bottom: 0in"><FONT COLOR="#000000">Dr. Yogesh,</FONT></P>
			<P STYLE="margin-bottom: 0in"><FONT COLOR="#000000">Dr. Mansi,</FONT></P>
			<P><FONT COLOR="#000000">Dr. Akshay Toshiwal</FONT></P>
		</TD>
	</TR>
</TABLE>
</P>
<P ALIGN=CENTER STYLE="margin-bottom: 0.6in"><BR><BR>
</P>
<P ALIGN=CENTER STYLE="margin-bottom: 0.11in"><B>Day 2: 29th Aug 2019
(Thursday) </B></P>
<TABLE WIDTH=99% CELLPADDING=7 CELLSPACING=0>
	<COL WIDTH=85*>
	<COL WIDTH=85*>
	<COL WIDTH=85*>
	<TR VALIGN=TOP>
		<TD WIDTH=33% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P ALIGN=CENTER><B>Time</B></P>
		</TD>
		<TD WIDTH=33% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P ALIGN=CENTER><B>Schedule</B></P>
		</TD>
		<TD WIDTH=33% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P ALIGN=CENTER><B>Faculty</B></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=33% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">8:30AM to 8:50 AM</FONT></P>
		</TD>
		<TD WIDTH=33% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P STYLE="margin-bottom: 0in"><FONT COLOR="#000000">Latest
			guidelines in obstetric anaesthesia (role of epidural for
			emergency LSCS)</FONT></P>
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=33% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">Dr. Mona Arya</FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=33% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">8:50 to 9:40 AM</FONT></P>
		</TD>
		<TD WIDTH=33% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">Case: PIH</FONT></P>
		</TD>
		<TD WIDTH=33% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P STYLE="margin-bottom: 0in"><FONT COLOR="#000000">Dr. Aruna Jain</FONT></P>
			<P><FONT COLOR="#000000">Dr. Bimla Sharma</FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=33% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">9:45 to 10:05 AM</FONT></P>
		</TD>
		<TD WIDTH=33% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">What a post graduate should know about
			labor analgesia</FONT></P>
		</TD>
		<TD WIDTH=33% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">Dr. Nidhi Bhatia</FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=33% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">10:10 to 11:10 AM</FONT></P>
		</TD>
		<TD WIDTH=33% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">Case: Pregnancy with valvular heart
			disease (MS with PAH)</FONT></P>
		</TD>
		<TD WIDTH=33% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P STYLE="margin-bottom: 0in"><FONT COLOR="#000000">Dr. Kirti
			Saxena</FONT></P>
			<P><FONT COLOR="#000000">Dr. Sujata Chaudhary</FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=33% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">11:10 to 11:30 AM</FONT></P>
		</TD>
		<TD COLSPAN=2 WIDTH=67% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P ALIGN=CENTER><FONT COLOR="#000000">Tea break</FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=33% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">11:30 to 11:50 AM</FONT></P>
		</TD>
		<TD WIDTH=33% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">Clinical pearls of spinal &amp; epidural
			anaesthesia in adults (repeat spinal, PDPH)</FONT></P>
		</TD>
		<TD WIDTH=33% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">Dr. Gunjan Manchanda</FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=33% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">11:55 to 12:10 PM</FONT></P>
		</TD>
		<TD WIDTH=33% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">Ethical issues of informed consent</FONT></P>
		</TD>
		<TD WIDTH=33% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">Dr. Rahil Singh</FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=33% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">12:10 to 12:40 PM</FONT></P>
		</TD>
		<TD WIDTH=33% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">How to write a research paper?</FONT></P>
		</TD>
		<TD WIDTH=33% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">Dr. Rakesh Garg</FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=33% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">12:45 to 1:30 PM</FONT></P>
		</TD>
		<TD WIDTH=33% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">Case: Cleft lip and palate</FONT></P>
		</TD>
		<TD WIDTH=33% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P STYLE="margin-bottom: 0in"><FONT COLOR="#000000">Dr. Neelam
			Prasad</FONT></P>
			<P><FONT COLOR="#000000">Dr. Rama Gogia</FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=33% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">1:30 to 2:00 PM</FONT></P>
		</TD>
		<TD COLSPAN=2 WIDTH=67% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P ALIGN=CENTER><FONT COLOR="#000000">Lunch</FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=33% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">2:00 to 2:45 PM</FONT></P>
		</TD>
		<TD WIDTH=33% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">Case: TEF &amp; (slides on FAQs in a case
			of CDH)</FONT></P>
		</TD>
		<TD WIDTH=33% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P STYLE="margin-bottom: 0in"><FONT COLOR="#000000">Dr. Suman Lata
			Gupta</FONT></P>
			<P><FONT COLOR="#000000">Dr. Pratibha Jain</FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=33% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">2:50 to 3:10 PM</FONT></P>
		</TD>
		<TD WIDTH=33% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">Anesthesia for trauma patients</FONT></P>
		</TD>
		<TD WIDTH=33% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">Dr. Amit Kohli</FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=33% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">3:15 to 3:35 PM</FONT></P>
		</TD>
		<TD WIDTH=33% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">International consensus statement on the
			perioperative management of anaemia and iron deficiency</FONT></P>
		</TD>
		<TD WIDTH=33% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">Dr. Sukhyanti Kerai</FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=33% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">3:40 to 3:55 PM</FONT></P>
		</TD>
		<TD WIDTH=33% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">Anesthesia for remote locations</FONT></P>
		</TD>
		<TD WIDTH=33% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">Dr. Akhilesh Gupta</FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=33% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">4:00 to 5:30 PM</FONT></P>
		</TD>
		<TD WIDTH=33% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P STYLE="margin-bottom: 0in"><FONT COLOR="#000000">Equipment
			stations: 30 min each (8 stations)</FONT></P>
			<P STYLE="margin-bottom: 0in"><FONT COLOR="#000000">1.Commonly
			used Airway devices</FONT></P>
			<P STYLE="margin-bottom: 0in"><FONT COLOR="#000000">2.Supraglottic
			devices &amp; Regional anaesthesia equipment</FONT></P>
			<P STYLE="margin-bottom: 0in"><FONT COLOR="#000000">3.Monitoring
			devices</FONT></P>
			<P><FONT COLOR="#000000">4.Difficult &amp; new airway adjuncts</FONT></P>
		</TD>
		<TD WIDTH=33% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P STYLE="margin-bottom: 0in"><FONT COLOR="#000000">Dr. Vandana
			Saith,</FONT></P>
			<P STYLE="margin-bottom: 0in"><FONT COLOR="#000000">Dr. Deepti
			Saigal,</FONT></P>
			<P STYLE="margin-bottom: 0in"><FONT COLOR="#000000">Dr. Anjali
			Sethi,</FONT></P>
			<P STYLE="margin-bottom: 0in"><FONT COLOR="#000000">Dr. Amit
			Kohli,</FONT></P>
			<P STYLE="margin-bottom: 0in"><FONT COLOR="#000000">Dr. Farah
			Husain,</FONT></P>
			<P STYLE="margin-bottom: 0in"><FONT COLOR="#000000">Dr. Rahil
			Singh,</FONT></P>
			<P STYLE="margin-bottom: 0in"><FONT COLOR="#000000">Dr. Roshni
			Roy,</FONT></P>
			<P STYLE="margin-bottom: 0in"><FONT COLOR="#000000">Dr. Megha
			Kohli,</FONT></P>
			<P STYLE="margin-bottom: 0in"><FONT COLOR="#000000">Dr. Sangeeta
			Yadav,</FONT></P>
			<P STYLE="margin-bottom: 0in"><FONT COLOR="#000000">Dr. Rohit
			Gupta,</FONT></P>
			<P STYLE="margin-bottom: 0in"><FONT COLOR="#000000">Dr. Apoorv,</FONT></P>
			<P STYLE="margin-bottom: 0in"><FONT COLOR="#000000">Dr. Saud,</FONT></P>
			<P STYLE="margin-bottom: 0in"><FONT COLOR="#000000">Dr. Divya,</FONT></P>
			<P STYLE="margin-bottom: 0in"><FONT COLOR="#000000">Dr. Deepak
			Kumar,</FONT></P>
			<P STYLE="margin-bottom: 0in"><FONT COLOR="#000000">Dr. Preeti
			Prasher,</FONT></P>
			<P STYLE="margin-bottom: 0in"><FONT COLOR="#000000">Dr. Manisha,</FONT></P>
			<P><FONT COLOR="#000000">Dr. Khushboo</FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=33% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">5: 30 PM onwards</FONT></P>
		</TD>
		<TD COLSPAN=2 WIDTH=67% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P ALIGN=CENTER><FONT COLOR="#000000">Tea</FONT></P>
		</TD>
	</TR>
</TABLE>
<P ALIGN=CENTER STYLE="margin-bottom: 0.11in"><BR><BR>
</P>
<P ALIGN=CENTER STYLE="margin-bottom: 0.11in"><B>Day 3: 30th Aug 2019
(Friday)</B></P>
<TABLE WIDTH=99% CELLPADDING=7 CELLSPACING=0>
	<COL WIDTH=77*>
	<COL WIDTH=98*>
	<COL WIDTH=81*>
	<TR VALIGN=TOP>
		<TD WIDTH=30% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P ALIGN=CENTER><FONT COLOR="#000000"><B>Time</B></FONT></P>
		</TD>
		<TD WIDTH=38% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P ALIGN=CENTER><FONT COLOR="#000000"><B>Schedule</B></FONT></P>
		</TD>
		<TD WIDTH=32% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P ALIGN=CENTER><FONT COLOR="#000000"><B>Faculty</B></FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=30% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">8:30 to 9:00 AM</FONT></P>
		</TD>
		<TD WIDTH=38% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">Understanding SpO2 and EtCO2 monitoring</FONT></P>
		</TD>
		<TD WIDTH=32% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">Dr. Prachi Gaba</FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=30% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">9:00 to 9:40 AM</FONT></P>
		</TD>
		<TD WIDTH=38% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">USG for the anaesthesiologist</FONT></P>
		</TD>
		<TD WIDTH=32% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">Dr. Anjoli Chabbra</FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=30% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">9:45 to 10:45 AM</FONT></P>
		</TD>
		<TD WIDTH=38% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">Case: TM joint ankylosis (DAS guidelines)</FONT></P>
		</TD>
		<TD WIDTH=32% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P STYLE="margin-bottom: 0in"><FONT COLOR="#000000">Dr. Munisha
			Agarwal</FONT></P>
			<P><FONT COLOR="#000000">Dr. Manoj Bhardwaj</FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=30% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">10:50 to 11:10 AM</FONT></P>
		</TD>
		<TD WIDTH=38% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">Pre anaesthetic assessment of geriatric
			patient</FONT></P>
		</TD>
		<TD WIDTH=32% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">Dr. Nishant Sahay</FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=30% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">11:10 to 11:30 AM</FONT></P>
		</TD>
		<TD COLSPAN=2 WIDTH=70% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P ALIGN=CENTER><FONT COLOR="#000000">Tea break</FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=30% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P STYLE="margin-bottom: 0in"><BR>
			</P>
			<P><FONT COLOR="#000000">11:35 to 12:20 PM</FONT></P>
		</TD>
		<TD WIDTH=38% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">Case: TURP with hypertension</FONT></P>
		</TD>
		<TD WIDTH=32% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P STYLE="margin-bottom: 0in"><FONT COLOR="#000000">Dr. Pramod
			Kohli</FONT></P>
			<P><FONT COLOR="#000000">Dr. Lalita Chaudhary</FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=30% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">12:25 to 12:45 PM</FONT></P>
		</TD>
		<TD WIDTH=38% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">Anaesthetic considerations in a patient
			for robotic surgery </FONT>
			</P>
		</TD>
		<TD WIDTH=32% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">Dr. Divya Jain</FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=30% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">12:50 to 1:50 PM</FONT></P>
		</TD>
		<TD WIDTH=38% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">Case: Diabetic patient</FONT></P>
		</TD>
		<TD WIDTH=32% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P STYLE="margin-bottom: 0in"><FONT COLOR="#000000">Dr. Ruchi
			Gupta</FONT></P>
			<P><FONT COLOR="#000000">Dr. Anoop Gogia</FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=30% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">2:00 to 2:30 PM</FONT></P>
		</TD>
		<TD COLSPAN=2 WIDTH=70% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P ALIGN=CENTER><FONT COLOR="#000000">Lunch</FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=30% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">2:30 to 3:20 PM</FONT></P>
		</TD>
		<TD WIDTH=38% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">Case: Obstructive jaundice</FONT></P>
		</TD>
		<TD WIDTH=32% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P STYLE="margin-bottom: 0in"><FONT COLOR="#000000">Dr. C K Dua</FONT></P>
			<P><FONT COLOR="#000000">Dr. Ajay Kumar</FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=30% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">3:30 to 3:50 PM</FONT></P>
		</TD>
		<TD WIDTH=38% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">Anaesthetic considerations in a
			transplant patient for incidental surgery</FONT></P>
		</TD>
		<TD WIDTH=32% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">Dr. Chitra Chatterjee</FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=30% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">3:55 to 4:55 PM</FONT></P>
		</TD>
		<TD WIDTH=38% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">Case: CRF</FONT></P>
		</TD>
		<TD WIDTH=32% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P STYLE="margin-bottom: 0in"><FONT COLOR="#000000">Dr. Maitrayee
			Pandey </FONT>
			</P>
			<P><FONT COLOR="#000000">Dr. Sangeeta Khanna</FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=30% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">5:00 to 5:20 PM</FONT></P>
		</TD>
		<TD WIDTH=38% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">Anaesthetic concerns in a patient for
			bariatric procedure</FONT></P>
		</TD>
		<TD WIDTH=32% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">Dr. Kapil Chaudhary</FONT></P>
		</TD>
	</TR>
</TABLE>
<P STYLE="margin-bottom: 0.11in"><BR><BR>
</P>
<P ALIGN=CENTER STYLE="margin-bottom: 0.11in"><B>Day 4: 31st Aug 2019
(Saturday)</B></P>
<TABLE WIDTH=99% CELLPADDING=7 CELLSPACING=0>
	<COL WIDTH=79*>
	<COL WIDTH=96*>
	<COL WIDTH=81*>
	<TR VALIGN=TOP>
		<TD WIDTH=31% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P ALIGN=CENTER><FONT COLOR="#000000"><B>Time</B></FONT></P>
		</TD>
		<TD WIDTH=37% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P ALIGN=CENTER><FONT COLOR="#000000"><B>Schedule</B></FONT></P>
		</TD>
		<TD WIDTH=32% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P ALIGN=CENTER><FONT COLOR="#000000"><B>Faculty</B></FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=31% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">8:00 to 9:00 AM</FONT></P>
		</TD>
		<TD WIDTH=37% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P STYLE="margin-bottom: 0in"><FONT COLOR="#000000">Postoperative
			analgesia in Paediatric and adult patients</FONT></P>
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=32% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">Dr. Ashok Saxena</FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=31% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">9:05 to 9:45 PM</FONT></P>
		</TD>
		<TD WIDTH=37% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">Case: Patient with a chest tube</FONT></P>
		</TD>
		<TD WIDTH=32% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P STYLE="margin-bottom: 0in"><FONT COLOR="#000000">Dr. Kamal
			Fotedar</FONT></P>
			<P><FONT COLOR="#000000">Dr. Ranju Singh</FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=31% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">9:50 to 10:10 AM</FONT></P>
		</TD>
		<TD WIDTH=37% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">General principles of neuro anaesthesia
			(one slide on awake craniotomy)</FONT></P>
		</TD>
		<TD WIDTH=32% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">Dr. Pragati Ganjoo</FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=31% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">10:15 to 11:05 AM</FONT></P>
		</TD>
		<TD WIDTH=37% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">ARDS and COPD: Ventilatory strategies</FONT></P>
		</TD>
		<TD WIDTH=32% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">Dr. Sumit Ray</FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=31% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">11:10 to 11:25 AM</FONT></P>
		</TD>
		<TD COLSPAN=2 WIDTH=69% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P ALIGN=CENTER><FONT COLOR="#000000">Tea break</FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=31% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">11:30 to 11:55 AM</FONT></P>
		</TD>
		<TD WIDTH=37% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">Recent guidelines in Sepsis</FONT></P>
		</TD>
		<TD WIDTH=32% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">Dr. Monish Nakra</FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=31% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">12 PM to 12:50 PM</FONT></P>
		</TD>
		<TD WIDTH=37% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">Case: Kyphoscoliosis</FONT></P>
		</TD>
		<TD WIDTH=32% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P STYLE="margin-bottom: 0in"><FONT COLOR="#000000">Dr. Medha
			Mohta</FONT></P>
			<P><FONT COLOR="#000000">Dr. Sukanya Mitra</FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=31% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">12:50 to 1:35 PM</FONT></P>
		</TD>
		<TD WIDTH=37% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">Oxygen therapy</FONT></P>
		</TD>
		<TD WIDTH=32% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">Dr. J S Dali</FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=31% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">1:40 to 2:10 PM</FONT></P>
		</TD>
		<TD COLSPAN=2 WIDTH=69% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P ALIGN=CENTER><FONT COLOR="#000000">Lunch</FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=31% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">2:15to 2:30 PM</FONT></P>
		</TD>
		<TD WIDTH=37% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">Latest guidelines on ethical practice of
			blood transfusion</FONT></P>
		</TD>
		<TD WIDTH=32% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">Dr. Manpreet Singh</FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=31% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">2:35 to 2:55 PM</FONT></P>
		</TD>
		<TD WIDTH=37% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">Talk on Ethical issues/ unethical acts/
			professional misconduct</FONT></P>
		</TD>
		<TD WIDTH=32% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">Faculty from DMC</FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=31% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">3:00 to 3:30 PM</FONT></P>
		</TD>
		<TD WIDTH=37% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">Understanding ECG</FONT></P>
		</TD>
		<TD WIDTH=32% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P STYLE="margin-bottom: 0in"><FONT COLOR="#000000">Dr. Rakesh
			Kumar, Dr. Sunil Arora</FONT></P>
			<P STYLE="margin-bottom: 0in"><FONT COLOR="#000000">Dr. Anil Misra</FONT></P>
			<P><FONT COLOR="#000000">Dr. Neera Gupta Kumar</FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=31% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">3:30 to 5:00 PM</FONT></P>
		</TD>
		<TD WIDTH=37% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">BLS and ACLS</FONT></P>
		</TD>
		<TD WIDTH=32% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P STYLE="margin-bottom: 0in"><FONT COLOR="#000000">Dr. Rakesh
			Kumar</FONT></P>
			<P STYLE="margin-bottom: 0in"><FONT COLOR="#000000">Dr. Sunil
			Arora</FONT></P>
			<P STYLE="margin-bottom: 0in"><FONT COLOR="#000000">Dr. Anil Misra</FONT></P>
			<P><FONT COLOR="#000000">Dr. Neera Gupta Kumar</FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=31% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">5:10PM to 5:45PM</FONT></P>
		</TD>
		<TD COLSPAN=2 WIDTH=69% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P ALIGN=CENTER><FONT COLOR="#000000">Assessment test</FONT></P>
		</TD>
	</TR>
</TABLE>
<P ALIGN=CENTER STYLE="margin-bottom: 0.11in"><BR><BR>
</P>
<P ALIGN=CENTER STYLE="margin-bottom: 0.11in"><B>Day 5: 1st Sept 2019
(Sunday)</B></P>
<TABLE WIDTH=99% CELLPADDING=7 CELLSPACING=0>
	<COL WIDTH=79*>
	<COL WIDTH=96*>
	<COL WIDTH=81*>
	<TR VALIGN=TOP>
		<TD WIDTH=31% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P ALIGN=CENTER><FONT COLOR="#000000"><B>Time</B></FONT></P>
		</TD>
		<TD WIDTH=37% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P ALIGN=CENTER><FONT COLOR="#000000"><B>Schedule</B></FONT></P>
		</TD>
		<TD WIDTH=32% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P ALIGN=CENTER><FONT COLOR="#000000"><B>Faculty</B></FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=31% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">8:15 to 9:15 AM</FONT></P>
		</TD>
		<TD WIDTH=37% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">Case: Thyroid </FONT>
			</P>
		</TD>
		<TD WIDTH=32% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P STYLE="margin-bottom: 0in"><FONT COLOR="#000000">Dr. Sonia
			Wadhawan </FONT>
			</P>
			<P><FONT COLOR="#000000">Dr. Sanjay Agarwal</FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=31% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">9:20 to 9:40 AM</FONT></P>
		</TD>
		<TD WIDTH=37% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">What after post graduation…</FONT></P>
		</TD>
		<TD WIDTH=32% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">Dr. Mukul Kapoor</FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=31% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">9:45 to 10:45 AM</FONT></P>
		</TD>
		<TD WIDTH=37% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">Case: THR</FONT></P>
		</TD>
		<TD WIDTH=32% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P STYLE="margin-bottom: 0in"><FONT COLOR="#000000">Dr. Rakesh
			Karnawat</FONT></P>
			<P><FONT COLOR="#000000">Dr. Geeta Shahi</FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=31% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">10:50 to 11:10 AM</FONT></P>
		</TD>
		<TD WIDTH=37% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">Ethical issues of ‘End of life
			Care’(DNR)</FONT></P>
		</TD>
		<TD WIDTH=32% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">Dr. Nishkarsh Gupta</FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=31% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">11:10 to 11:30 AM</FONT></P>
		</TD>
		<TD COLSPAN=2 WIDTH=69% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P ALIGN=CENTER><FONT COLOR="#000000">Tea Break</FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=31% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">11:35 to 11:55 AM</FONT></P>
		</TD>
		<TD WIDTH=37% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">ERAS</FONT></P>
		</TD>
		<TD WIDTH=32% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">Dr. Raj Tobin</FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=31% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">12 :00 to 1:00 PM</FONT></P>
		</TD>
		<TD WIDTH=37% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">Panel discussion: How to approach the
			exam</FONT></P>
		</TD>
		<TD WIDTH=32% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P STYLE="margin-bottom: 0in"><FONT COLOR="#000000"><B>Panelists:</B></FONT><FONT COLOR="#000000">
			</FONT>
			</P>
			<P STYLE="margin-bottom: 0in"><FONT COLOR="#000000">Dr. Poonam
			Bhadoria, </FONT>
			</P>
			<P STYLE="margin-bottom: 0in"><FONT COLOR="#000000">Dr. R K Batra </FONT>
			</P>
			<P STYLE="margin-bottom: 0in"><FONT COLOR="#000000">Dr. Jayashree
			Sood, </FONT>
			</P>
			<P STYLE="margin-bottom: 0in"><FONT COLOR="#000000">Dr. Veena
			Asthana</FONT></P>
			<P STYLE="margin-bottom: 0in"><FONT COLOR="#000000"><B>Moderator:</B></FONT><FONT COLOR="#000000">
			</FONT>
			</P>
			<P><FONT COLOR="#000000">Dr. Bharti Wadhwa</FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=31% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">1:00 to 2:00 PM</FONT></P>
		</TD>
		<TD WIDTH=37% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">Drugs</FONT></P>
		</TD>
		<TD WIDTH=32% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P STYLE="margin-bottom: 0in"><FONT COLOR="#000000">Dr. Garima
			Agarwal</FONT></P>
			<P STYLE="margin-bottom: 0in"><FONT COLOR="#000000">Dr. Anshu
			Gupta</FONT></P>
			<P STYLE="margin-bottom: 0in"><FONT COLOR="#000000">Dr. Anju Gupta</FONT></P>
			<P><FONT COLOR="#000000">Dr. Geetanjali Chilkoti</FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=31% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">2:00 to 2:15 PM</FONT></P>
		</TD>
		<TD COLSPAN=2 WIDTH=69% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P ALIGN=CENTER><FONT COLOR="#000000">Valedictory function</FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=31% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000">2:15 PM onwards</FONT></P>
		</TD>
		<TD COLSPAN=2 WIDTH=69% STYLE="border: 1.00pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P ALIGN=CENTER><FONT COLOR="#000000">Lunch</FONT></P>
		</TD>
	</TR>
</TABLE>
<P ALIGN=CENTER STYLE="margin-bottom: 0.11in"><BR><BR>
</P>
</BODY>
</HTML>
